---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import * as Plot from "@observablehq/plot";
import PlotFigure from "../components/PlotFigure.astro";
import Penguins from "../assets/penguins.json";
import Diamonds from "../assets/diamonds.json";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
function mandelbrot(x:number, y:number) {
  for (let n = 0, zr = 0, zi = 0; n < 80; ++n) {
    [zr, zi] = [zr * zr - zi * zi + x, 2 * zr * zi + y];
    if (zr * zr + zi * zi > 4) return n;
  }
}


---

<Layout>
	<div>
      <h1>Penguins</h1>
      <PlotFigure
        options={{
          marks: [
            Plot.dot(Penguins, {x: "culmen_length_mm", y: "culmen_depth_mm"})
          ]
        }}
      />
	  </div>
      <!-- <PlotFigure
        options={{
          marks: [
            Plot.raster({fill: mandelbrot, x1: -2, x2: 1, y1: -1.164, y2: 1.164})
          ],
          aspectRatio: 1
        }}
      /> -->
	
	  <div>
      <h1>Diamonds</h1>
      <PlotFigure
        options={{
          marks: [
          Plot.dot(Diamonds, {x: "price", y: "depth"})          ]
        }}
      />
	  </div>
    
	
</Layout>
